<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.mapper.CustomerMapper" >
	<resultMap id="BaseResultMap" type="com.manager.entity.Customer" >
		<id column="UUID" property="uuid" jdbcType="VARCHAR" />
		<result column="CUS_NAME" property="cusName" jdbcType="VARCHAR" />
		<result column="CUS_BIRTHDAY" property="cusBirthday" jdbcType="DATE" />
		<result column="CUS_PHONE" property="cusPhone" jdbcType="VARCHAR" />
		<result column="CUS_STATUS" property="cusStatus" jdbcType="VARCHAR" />
		<result column="CUS_ADDRESS" property="cusAddress" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
		<result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR"/>
		<result column="GROUP_DESP" property="groupDesp" jdbcType="VARCHAR"/>
		<result column="BUS_TYPE" property="busType" jdbcType="VARCHAR"/>
		<result column="CUS_TYPE" property="cusType" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Example_Where_Clause" >
		<where >
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
                  and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
                  and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause" >
		<where >
			<foreach collection="example.oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >
                  and ${criterion.condition}
								</when>
								<when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue" >
                  and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List" >
    UUID, CUS_NAME, CUS_BIRTHDAY, CUS_PHONE, CUS_STATUS, CUS_ADDRESS, USER_ID, GROUP_ID, CUS_TYPE, BUS_TYPE
	</sql>
	
	<select id="getCustomerPage" resultMap="BaseResultMap">
		select 
		a.UUID, a.CUS_NAME, a.CUS_BIRTHDAY, a.CUS_PHONE, a.CUS_STATUS, a.CUS_TYPE, a.BUS_TYPE,
		a.CUS_ADDRESS, a.USER_ID, c.user_name,a.GROUP_ID,b.GROUP_NAME,b.group_desp
		from customer a
		left join groups b on a.group_id = b.uuid
		left join user c on a.user_id = c.uuid
		<trim prefix="where" prefixOverrides="and | or" >
			<if test="customer.uuid != null" >
       and a.uuid = #{customer.uuid,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusName != null" >
       and a.cus_name = #{customer.cusName,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusBirthday != null" >
        and a.cus_birthday = #{customer.cusBirthday,jdbcType=DATE}
			</if>
			<if test="customer.cusPhone != null" >
       and a.cus_phone =  #{customer.cusPhone,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusStatus != null" >
       and a.cus_status =  #{customer.cusStatus,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusAddress != null" >
       and a.cus_address = #{customer.cusAddress,jdbcType=VARCHAR}
			</if>
			<if test="users != null" >
        		and a.user_id in
        		<foreach collection="users" item="user" open="(" close=")" separator=",">
        			#{user.uuid}
        		</foreach>
			</if>
			<if test="customer.groupId != null" >
       and a.group_id = #{customer.groupId,jdbcType=VARCHAR} 
			</if>
			<if test="customer.cusType != null">
				and a.cus_type = #{customer.cusType}
			</if>
			<if test="customer.busType != null">
				and a.bus_type = #{customer.busType}
			</if>
		</trim>
		limit #{page.start} , #{page.end}
	</select>
	
	<select id="getCustomerList" resultMap="BaseResultMap">
		select 
		a.UUID, a.CUS_NAME, a.CUS_BIRTHDAY, a.CUS_PHONE, a.CUS_STATUS, a.CUS_TYPE, a.BUS_TYPE,
		a.CUS_ADDRESS, a.USER_ID, c.user_name,a.GROUP_ID,b.GROUP_NAME,b.group_desp
		from customer a
		left join groups b on a.group_id = b.uuid
		left join user c on a.user_id = c.uuid
		<trim prefix="where" prefixOverrides="and | or" >
			<if test="customer.uuid != null" >
       and a.uuid = #{customer.uuid,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusName != null" >
       and a.cus_name = #{customer.cusName,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusBirthday != null" >
        and a.cus_birthday = #{customer.cusBirthday,jdbcType=DATE}
			</if>
			<if test="customer.cusPhone != null" >
       and a.cus_phone =  #{customer.cusPhone,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusStatus != null" >
       and a.cus_status =  #{customer.cusStatus,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusAddress != null" >
       and a.cus_address = #{customer.cusAddress,jdbcType=VARCHAR}
			</if>
			<if test="users != null" >
        		and a.user_id in
        		<foreach collection="users" item="user" open="(" close=")" separator=",">
        			#{user.uuid}
        		</foreach>
			</if>
			<if test="customer.groupId != null" >
       and a.group_id = #{customer.groupId,jdbcType=VARCHAR} 
			</if>
			<if test="customer.cusType != null">
				and a.cus_type = #{customer.cusType}
			</if>
			<if test="customer.busType != null">
				and a.bus_type = #{customer.busType}
			</if>
		</trim>
	</select>
	
	<select id="count" resultType="java.lang.Integer">
		select 
			count(0)
		from customer a
		left join groups b on a.group_id = b.uuid
		left join user c on a.user_id = c.uuid
		<trim prefix="where" prefixOverrides="and | or" >
			<if test="customer.uuid != null" >
       and a.uuid = #{customer.uuid,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusName != null" >
       and a.cus_name = #{customer.cusName,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusBirthday != null" >
        and a.cus_birthday = #{customer.cusBirthday,jdbcType=DATE}
			</if>
			<if test="customer.cusPhone != null" >
       and a.cus_phone =  #{customer.cusPhone,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusStatus != null" >
       and a.cus_status =  #{customer.cusStatus,jdbcType=VARCHAR}
			</if>
			<if test="customer.cusAddress != null" >
       and a.cus_address = #{customer.cusAddress,jdbcType=VARCHAR}
			</if>
			<if test="users != null" >
        		and a.user_id in
        		<foreach collection="users" item="user" open="(" close=")" separator=",">
        			#{user.uuid}
        		</foreach>
			</if>
			<if test="customer.groupId != null" >
       and a.group_id = #{customer.groupId,jdbcType=VARCHAR} 
			</if>
			<if test="customer.cusType != null">
				and a.cus_type = #{customer.cusType}
			</if>
			<if test="customer.busType != null">
				and a.bus_type = #{customer.busType}
			</if>
		</trim>
	</select>
	
	<select id="getCustomerListByInId" resultMap="BaseResultMap">
		select 
		a.UUID, a.CUS_NAME, a.CUS_BIRTHDAY, a.CUS_PHONE, a.CUS_STATUS, a.CUS_TYPE, a.BUS_TYPE,
		a.CUS_ADDRESS, a.USER_ID, a.GROUP_ID,b.group_name,b.group_desp
		from customer a
		left join groups b on a.group_id = b.uuid
		where user_id in
		<foreach item="userId" index="index" collection="list" open="(" separator="," close=")">  
		  #{userId}  
		</foreach> 
	</select>
	
	
	<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.manager.entity.CustomerExample" >
    select
		<if test="distinct" >
      distinct
		</if>
		<include refid="Base_Column_List" />
    from customer
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
      order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
		<include refid="Base_Column_List" />
    from customer
    where UUID = #{uuid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from customer
    where UUID = #{uuid,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.manager.entity.CustomerExample" >
    delete from customer
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.manager.entity.Customer" >
    insert into customer (UUID,CUS_NAME, CUS_BIRTHDAY, CUS_PHONE, 
      CUS_STATUS, CUS_ADDRESS, USER_ID, 
      GROUP_ID,CUS_TYPE,BUS_TYPE)
    values (#{uuid},#{cusName,jdbcType=VARCHAR}, #{cusBirthday,jdbcType=DATE}, #{cusPhone,jdbcType=VARCHAR}, 
      #{cusStatus,jdbcType=VARCHAR}, #{cusAddress,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=VARCHAR},#{cusType},#{busType})
	</insert>
	<insert id="insertSelective" parameterType="com.manager.entity.Customer" >
    insert into customer
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="uuid != null" >
        uuid,
			</if>
			<if test="cusName != null" >
        CUS_NAME,
			</if>
			<if test="cusBirthday != null" >
        CUS_BIRTHDAY,
			</if>
			<if test="cusPhone != null" >
        CUS_PHONE,
			</if>
			<if test="cusStatus != null" >
        CUS_STATUS,
			</if>
			<if test="cusAddress != null" >
        CUS_ADDRESS,
			</if>
			<if test="userId != null" >
        USER_ID,
			</if>
			<if test="groupId != null" >
        GROUP_ID,
			</if>
			<if test="cusType != null" >
        CUS_TYPE,
			</if>
			<if test="busType != null" >
        BUS_TYPE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
			</if>
			<if test="cusName != null" >
        #{cusName,jdbcType=VARCHAR},
			</if>
			<if test="cusBirthday != null" >
        #{cusBirthday,jdbcType=DATE},
			</if>
			<if test="cusPhone != null" >
        #{cusPhone,jdbcType=VARCHAR},
			</if>
			<if test="cusStatus != null" >
        #{cusStatus,jdbcType=VARCHAR},
			</if>
			<if test="cusAddress != null" >
        #{cusAddress,jdbcType=VARCHAR},
			</if>
			<if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
			</if>
			<if test="cusType != null" >
        #{cusType},
			</if>
			<if test="busType != null" >
        #{busType},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.manager.entity.CustomerExample" resultType="java.lang.Integer" >
    select count(*) from customer
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map" >
    update customer
		<set >
			<if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
			</if>
			<if test="record.cusName != null" >
        CUS_NAME = #{record.cusName,jdbcType=VARCHAR},
			</if>
			<if test="record.cusBirthday != null" >
        CUS_BIRTHDAY = #{record.cusBirthday,jdbcType=DATE},
			</if>
			<if test="record.cusPhone != null" >
        CUS_PHONE = #{record.cusPhone,jdbcType=VARCHAR},
			</if>
			<if test="record.cusStatus != null" >
        CUS_STATUS = #{record.cusStatus,jdbcType=VARCHAR},
			</if>
			<if test="record.cusAddress != null" >
        CUS_ADDRESS = #{record.cusAddress,jdbcType=VARCHAR},
			</if>
			<if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
			</if>
			<if test="record.groupId != null" >
        GROUP_ID = #{record.groupId,jdbcType=VARCHAR},
			</if>
			<if test="record.cusType != null" >
        CUS_TYPE = #{record.cusType},
			</if>
			<if test="record.busType != null" >
        BUS_TYPE = #{record.busType},
			</if>
		</set>
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map" >
    update customer
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      CUS_NAME = #{record.cusName,jdbcType=VARCHAR},
      CUS_BIRTHDAY = #{record.cusBirthday,jdbcType=DATE},
      CUS_PHONE = #{record.cusPhone,jdbcType=VARCHAR},
      CUS_STATUS = #{record.cusStatus,jdbcType=VARCHAR},
      CUS_ADDRESS = #{record.cusAddress,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      GROUP_ID = #{record.groupId,jdbcType=VARCHAR},
      CUS_TYPE = #{record.cusType,jdbcType=VARCHAR},
      BUS_TYPE = #{record.busType,jdbcType=VARCHAR}
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.manager.entity.Customer" >
    update customer
		<set >
			<if test="cusName != null" >
        CUS_NAME = #{cusName,jdbcType=VARCHAR},
			</if>
			<if test="cusBirthday != null" >
        CUS_BIRTHDAY = #{cusBirthday,jdbcType=DATE},
			</if>
			<if test="cusPhone != null" >
        CUS_PHONE = #{cusPhone,jdbcType=VARCHAR},
			</if>
			<if test="cusStatus != null" >
        CUS_STATUS = #{cusStatus,jdbcType=VARCHAR},
			</if>
			<if test="cusAddress != null" >
        CUS_ADDRESS = #{cusAddress,jdbcType=VARCHAR},
			</if>
			<if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null" >
        GROUP_ID = #{groupId,jdbcType=VARCHAR},
			</if>
			<if test="cusType != null" >
        CUS_TYPE = #{cusType},
			</if>
			<if test="busType != null" >
        BUS_TYPE = #{busType},
			</if>
		</set>
    where UUID = #{uuid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.manager.entity.Customer" >
    update customer
    set CUS_NAME = #{cusName,jdbcType=VARCHAR},
      CUS_BIRTHDAY = #{cusBirthday,jdbcType=DATE},
      CUS_PHONE = #{cusPhone,jdbcType=VARCHAR},
      CUS_STATUS = #{cusStatus,jdbcType=VARCHAR},
      CUS_ADDRESS = #{cusAddress,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      GROUP_ID = #{groupId,jdbcType=VARCHAR},
      CUS_TYPE = #{cusType,jdbcType=VARCHAR},
      BUS_TYPE = #{busType,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
	</update>
	
	<select id="getPage" resultMap="BaseResultMap">
	</select>
	<select id="getList" resultMap="BaseResultMap">
	</select>
</mapper>