<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.mapper.GroupsMapper" >
  <resultMap id="BaseResultMap" type="com.manager.entity.Groups" >
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR" />
    <result column="PARENT_GROUP_ID" property="parentGroupId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.manager.entity.Groups" extends="BaseResultMap" >
    <result column="GROUP_DESP" property="groupDesp" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UUID, GROUP_NAME, GROUP_CODE, PARENT_GROUP_ID
  </sql>
  <sql id="Blob_Column_List" >
    GROUP_DESP
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.manager.entity.GroupsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from groups
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.manager.entity.GroupsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from groups
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from groups
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from groups
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.manager.entity.GroupsExample" >
    delete from groups
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.manager.entity.Groups" >
    insert into groups (UUID,GROUP_NAME, GROUP_CODE, PARENT_GROUP_ID, 
      GROUP_DESP)
    values (#{uuid},#{groupName,jdbcType=VARCHAR}, #{groupCode,jdbcType=VARCHAR}, #{parentGroupId,jdbcType=VARCHAR}, 
      #{groupDesp,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entity.Groups" >
    insert into groups
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        GROUP_NAME,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="groupCode != null" >
        GROUP_CODE,
      </if>
      <if test="parentGroupId != null" >
        PARENT_GROUP_ID,
      </if>
      <if test="groupDesp != null" >
        GROUP_DESP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if> <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null" >
        #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="parentGroupId != null" >
        #{parentGroupId,jdbcType=VARCHAR},
      </if>
      <if test="groupDesp != null" >
        #{groupDesp,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.manager.entity.GroupsExample" resultType="java.lang.Integer" >
    select count(*) from groups
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update groups
    <set >
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupCode != null" >
        GROUP_CODE = #{record.groupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.parentGroupId != null" >
        PARENT_GROUP_ID = #{record.parentGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupDesp != null" >
        GROUP_DESP = #{record.groupDesp,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update groups
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      GROUP_CODE = #{record.groupCode,jdbcType=VARCHAR},
      PARENT_GROUP_ID = #{record.parentGroupId,jdbcType=VARCHAR},
      GROUP_DESP = #{record.groupDesp,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update groups
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      GROUP_CODE = #{record.groupCode,jdbcType=VARCHAR},
      PARENT_GROUP_ID = #{record.parentGroupId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entity.Groups" >
    update groups
    <set >
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null" >
        GROUP_CODE = #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="parentGroupId != null" >
        PARENT_GROUP_ID = #{parentGroupId,jdbcType=VARCHAR},
      </if>
      <if test="groupDesp != null" >
        GROUP_DESP = #{groupDesp,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.manager.entity.Groups" >
    update groups
    set GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      GROUP_CODE = #{groupCode,jdbcType=VARCHAR},
      PARENT_GROUP_ID = #{parentGroupId,jdbcType=VARCHAR},
      GROUP_DESP = #{groupDesp,jdbcType=LONGVARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entity.Groups" >
    update groups
    set GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      GROUP_CODE = #{groupCode,jdbcType=VARCHAR},
      PARENT_GROUP_ID = #{parentGroupId,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>