<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.manager.entity.User" >
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="USER_SINGAL" property="userSingal" jdbcType="VARCHAR" />
    <result column="USER_BIRTHDAY" property="userBirthday" jdbcType="DATE" />
    <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR" />
    <result column="USER_STATUS" property="userStatus" jdbcType="VARCHAR" />
    <result column="USER_ADDRESS" property="userAddress" jdbcType="VARCHAR" />
    <result column="USER_RANK" property="userRank" jdbcType="VARCHAR" />
    <result column="PARENT_USER_ID" property="parentUserId" jdbcType="VARCHAR" />
  </resultMap> 
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    UUID, USER_NAME, PASSWORD, USER_SINGAL, USER_BIRTHDAY, USER_PHONE, USER_STATUS, USER_ADDRESS, 
    USER_RANK, PARENT_USER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.manager.entity.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.manager.entity.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.manager.entity.User" >
    insert into user (UUID,USER_NAME, PASSWORD, USER_SINGAL, 
      USER_BIRTHDAY, USER_PHONE, USER_STATUS, 
      USER_ADDRESS, USER_RANK, PARENT_USER_ID
      )
    values (#{uuid},#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{userSingal,jdbcType=VARCHAR}, 
      #{userBirthday,jdbcType=DATE}, #{userPhone,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, 
      #{userAddress,jdbcType=VARCHAR}, #{userRank,jdbcType=VARCHAR}, #{parentUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="userSingal != null" >
        USER_SINGAL,
      </if>
      <if test="userBirthday != null" >
        USER_BIRTHDAY,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="userStatus != null" >
        USER_STATUS,
      </if>
      <if test="userAddress != null" >
        USER_ADDRESS,
      </if>
      <if test="userRank != null" >
        USER_RANK,
      </if>
      <if test="parentUserId != null" >
        PARENT_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userSingal != null" >
        #{userSingal,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null" >
        #{userBirthday,jdbcType=DATE},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userRank != null" >
        #{userRank,jdbcType=VARCHAR},
      </if>
      <if test="parentUserId != null" >
        #{parentUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.manager.entity.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.uuid != null" >
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.userSingal != null" >
        USER_SINGAL = #{record.userSingal,jdbcType=VARCHAR},
      </if>
      <if test="record.userBirthday != null" >
        USER_BIRTHDAY = #{record.userBirthday,jdbcType=DATE},
      </if>
      <if test="record.userPhone != null" >
        USER_PHONE = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.userStatus != null" >
        USER_STATUS = #{record.userStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.userAddress != null" >
        USER_ADDRESS = #{record.userAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.userRank != null" >
        USER_RANK = #{record.userRank,jdbcType=VARCHAR},
      </if>
      <if test="record.parentUserId != null" >
        PARENT_USER_ID = #{record.parentUserId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      USER_SINGAL = #{record.userSingal,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{record.userBirthday,jdbcType=DATE},
      USER_PHONE = #{record.userPhone,jdbcType=VARCHAR},
      USER_STATUS = #{record.userStatus,jdbcType=VARCHAR},
      USER_ADDRESS = #{record.userAddress,jdbcType=VARCHAR},
      USER_RANK = #{record.userRank,jdbcType=VARCHAR},
      PARENT_USER_ID = #{record.parentUserId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entity.User" >
    update user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userSingal != null" >
        USER_SINGAL = #{userSingal,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null" >
        USER_BIRTHDAY = #{userBirthday,jdbcType=DATE},
      </if>
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userRank != null" >
        USER_RANK = #{userRank,jdbcType=VARCHAR},
      </if>
      <if test="parentUserId != null" >
        PARENT_USER_ID = #{parentUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entity.User" >
    update user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      USER_SINGAL = #{userSingal,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{userBirthday,jdbcType=DATE},
      USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      USER_RANK = #{userRank,jdbcType=VARCHAR},
      PARENT_USER_ID = #{parentUserId,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>